services:
    db:
        image: postgis/postgis
        ports:
            - 5775:5432
        volumes:
            - /data/postgresmeylor:/var/lib/postgresql/data
        environment:
            POSTGRES_DB: postgres
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
