asgiref==3.5.2
bcrypt==3.2.2
boto3==1.24.9
botocore==1.27.9
cffi==1.15.0
cryptography==37.0.2
Django==4.0.5
django-cors-headers==3.11.0
django-rest-knox==4.2.0
django-rest-passwordreset==1.2.1
djangorestframework==3.13.1
gevent==21.12.0
greenlet==1.1.2
jmespath==1.0.0
parallel-ssh==2.10.0
paramiko==2.11.0
psycopg2-binary==2.8.6
pycparser==2.21
PyNaCl==1.5.0
python-dateutil==2.8.2
pytz==2022.1
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.2
ssh-python==0.10.0
ssh2-python==0.27.0
urllib3==1.26.9
zope.event==4.5.0
zope.interface==5.4.0
psycopg2-binary
gunicorn
tzdata

