<!doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
      <!--CSS -->
      <script src="/static/jquery-3.3.1.js"></script>
  </head>
  <body>
    <video width='320' height='240' controls>
      <source src='https://app.usepam.com/media/{{user}}/{{id}}'
       type="video/mp4">
      error unable to play video
    </video>
  </body>
</html>

