{% extends "xppda/base.html" %}
{% block body_block %}

	 <input type="hidden" id="user_taken" name="variable" value="{{ user_taken }}">
    <div class="modal" id="resetPasswordModal">
        <div class="modal-overlay"></div>
        <div class="modal-wrapper modal-transition">
            <div class="modal-header">
                <!-- <img src="static/modalLogo.png" alt="Modal Logo" class="modalLogo"> -->
                <h2 class="modal-heading">Password Reset Sent</h2>
            </div>
            <div class="modal-body">
                <div class="modal-content">
                We've emailed you instructions for setting your password, if an
                account exists with the email you entered. You should receive
                them shortly.<br><br>

                If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
                </div>
            </div>
        </div>
    </div>

  <script>
    $('#resetPasswordModal').addClass('is-visible');
  </script>
{% endblock %}
