{% extends "xppda/base.html" %}
{% block body_block %}

	 <input type="hidden" id="user_taken" name="variable" value="{{ user_taken }}">
    <div class="modal" id="resetPasswordModal">
        <div class="modal-overlay"></div>
        <div class="modal-wrapper modal-transition">
            <div class="modal-header">
                <!-- <img src="static/modalLogo.png" alt="Modal Logo" class="modalLogo"> -->
                <h2 class="modal-heading">Password Reset</h2>
            </div>
            <div class="modal-body">
                <div class="modal-content">
                  <form class="popupForm" method="POST">
                    {% csrf_token %}
                    <p>
                      {{ form }}
                    </p>
                    <input type="submit" value="Reset my password" class="btnSubmit">
                  </form>
                  <p class="textCenter signupNeed">Don’t have an account? <a href="#">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="signupModal">
        <div class="modal-overlay"></div>
        <div class="modal-wrapper modal-transition">
            <div class="modal-header">
                <!--<img src="static/modalLogo.png" alt="Modal Logo" class="modalLogo">-->
                <h2 class="modal-heading">Create an account</h2>
            </div>
            <div class="modal-body">
                <div class="modal-content">
                    <form class="popupForm" enctype=multipart/form-data method="POST">
							  {% csrf_token %}
							  {{ user_form.as_p }}
							  {{ profile_form.as_p }}
                        <input type="submit" value="Sign Up" class="btnSubmit">
								<!--
                        <input type="text" placeholder="Full Name">
                        <input type="Email" placeholder="Email">
                        <input type="tel" placeholder="Phone">
                        <input type="password" placeholder="Password">
                        <input type="password" placeholder="Confirm Password">
								-->
                    </form>
                </div>
            </div>
        </div>
    </div>

  <script>
    $('#resetPasswordModal').addClass('is-visible');
  </script>
{% endblock %}
