{% load i18n %}{% autoescape on %}
<html>
  <head>
  </head>
<body>
Hello,
<br><br>

You're receiving this email because you requested a password reset for your
user account at m.useiam.com
<br><br>

If you did not make this request, please log in and change your password immediately.
<br><br>

To change your password, go <a href="{{ reset_url }}?u={{ uid }}&t={{ token }}">HERE</a> and
confirm your new password.
<br><br>

Sincerely,
<br><br>
UseIam team

<br><br>

</body>
</html>

{% endautoescape %}
