{% extends 'base.html' %}

{% block title %}HOME{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 mb-3 text-center">
        <h4 class="welcome-text">Welcome {{ user.username }}</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-8 mx-auto social-container my-2 order-md-1">
        <button class="btn btn-primary mb-2">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="text-white text-decoration-none">Login With Google</a>
        </button>
        <button class="btn btn-primary mb-2">
            <a href="{% url 'logout' %}" class="text-white text-decoration-none">Logout</a>
        </button>
    </div>
</div>
{% endblock %}

<style>
    .welcome-text {
        color: #33333300;
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
    }
</style>
